###############################################################################
# Ignore these directories
###############################################################################
build
coverage
node_modules

###############################################################################
# Ignore these files
###############################################################################
*.log*
*~
.*

###############################################################################
# Accept these files
###############################################################################
!.editorconfig
!.gitignore
!.prettierrc
!.eslintrc.json
!.eslintignore
!.env.example
